* {
    padding: 0;
    margin: 0;
}

:root {
    --background: #4B4E68;
    --primary: #B4B6C5;
}

::placeholder {
    padding: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-style: bold;
    
}


.input:focus {
    border-style:none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: var(--background);
    font-family: 'Inter'; 
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    width: 400px;
    height: 500px;
    border-radius: 16px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

.logo-container h1 {
    font-size: 60px;
    color: #4B4E68;

}

.form-box p {    
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color:#4B4E68

}

.form-box .form-text {
    color: #4B4E68;
    font-weight: 500;
    font-size: 14px;
    
}
.form-box .input-form {
    display: inline-block;

}
.input-form {
    height: 40px;
    background-color:  #D9D9D9;
    width: 320px;
    border-style: none;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    line-height: 200px;
    text-align: left;
    padding-left: 10px;
}
.input-style {
    position: static;
    display: flex;
    align-content: center;
    justify-content: center;
}
.input-icon-eye {
    position: relative;
    max-width: 15px;
    right: 25px;
}
.input-icon-user {
    position: relative;
    max-width: 15px;
    right: 25px;
    filter: invert(30%) sepia(14%) saturate(887%) hue-rotate(196deg) brightness(93%) contrast(90%);
}

.submit-button-box {
    display: flex;
    justify-content: right;
}
.submit-form-button {
    display: inline-block;
    color: #4B4E68;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-style: none;
}







